<section>
  <div></div>

  <div>
    <h1>Privacy Policy</h1>
    <h2>Data Controller</h2>
    <p>The data controller within the meaning of data protection laws, particularly the EU General Data Protection
      Regulation (GDPR), is:
    <p>
    <p>Samaneh Papoli</p>
    <h2>Your Rights as a Data Subject</h2>
    <p>Using the contact details provided, you can exercise the following rights at any time under the EU General Data
      Protection Regulation (GDPR):
    <ul>
      <li>Access to your data stored by us and information about its processing (Art. 15 GDPR),</li>
      <li>Correction of incorrect personal data (Art. 16 GDPR),</li>
      <li>Deletion of your stored data (Art. 17 GDPR),</li>
      <li>Restriction of data processing if we are not yet allowed to delete your data due to legal obligations (Art. 18
        GDPR),</li>
      <li>Objection to the processing of your data by us (Art. 21 GDPR), and</li>
      <li>Data portability, provided you have consented to the data processing or entered into a contract with us (Art.
        20 GDPR).</li>
    </ul>
    <p>If you have given us your consent, you can withdraw it at any time with effect for the future.
    <p>You can lodge a complaint at any time with a supervisory authority, such as the one responsible for your state of
      residence or the one responsible for us as the data controller.
    <p>A list of supervisory authorities (for the non-public sector) with their addresses can be found at: 
      <a href="https://www.bfdi.bund.de/DE/Infothek/Anschriften_Links/anschriften_links-node.html">bfdi.bund.de</a>.
    </p>
    <h2>Processing Activities</h2>
    <h3>Contact</h3>
    <p>Nature and Purpose of Processing</p>
    <p>Our website contains a contact form that can be used for electronic communication. If a user uses this option,
      the data entered into the input form is transmitted to us and stored.</p>
    <p>Contact is also possible via the provided email addresses. In this case, the user's personal data transmitted
      with the email is stored. This includes the date and time of the email, the email address, IP addresses, and
      information about the servers involved in the email communication.</p>
    <p>You can contact us via the provided phone numbers. In this case, we collect log data, including your phone number
      and the duration of the call.</p>
    <p>Regardless of the communication method chosen, we collect the content of your inquiry. Your data is stored for
      the purpose of individual communication with you.</p>
    <h4>Legal Basis</h4>
    <p>Data processing is carried out on the basis of a legitimate interest (Art. 6 para. 1 lit. f GDPR).</p>
    <p>Our legitimate interest in processing your data is to enable simple communication.</p>
    <p>If you contact us to request an offer, the data processing is carried out for the execution of pre-contractual
      measures (Art. 6 para. 1 lit. b GDPR).</p>
    <h4>Recipients</h4>
    <p>Recipients of the data may include technical service providers who act as processors for the operation and
      maintenance of our website.</p>
    <h4>Retention Period</h4>
    <p>Data will be deleted at the latest [please add information] after the inquiry has been processed.</p>
    <p>If a contractual relationship is established, we are subject to statutory retention periods. These are generally
      6 or 10 years for proper accounting and tax compliance.</p>
    <h4>Provision Required or Mandatory</h4>
    <p>Providing your personal data is voluntary. However, we can only process your inquiry if you provide the necessary
      data and reason for your inquiry.</p>
    <h4>Objection</h4>
    <p>See the information about your right to object under Art. 21 GDPR below.</p>
    <h2>Information About Your Right to Object Under Art. 21 GDPR</h2>
    <h3>Right to Object on a Case-by-Case Basis</h3>
    <p>You have the right, for reasons arising from your particular situation, to object at any time to the processing
      of personal data concerning you that is carried out on the basis of Art. 6 para. 1 lit. f GDPR (data processing
      based on a balance of interests); this also applies to profiling based on this provision as defined in Art. 4 no.
      4 GDPR.</p>
    <p>If you object, we will no longer process your personal data unless we can demonstrate compelling legitimate
      grounds for processing that override your interests, rights, and freedoms, or if the processing serves the
      assertion, exercise, or defense of legal claims.</p>
    <h2>Changes to Our Privacy Policy</h2>
    <p>We reserve the right to adapt this privacy policy to always comply with current legal requirements or to
      implement changes to our services in the privacy policy, e.g., when introducing new services. The updated privacy
      policy will then apply to your next visit.</p>
    <h2>Questions About Data Protection</h2>
    <p>If you have any questions about data protection, please send an email to the data controller mentioned above.</p>
  </div>
</section>