@import "./../../../../styles.scss";

button {
  position: relative;
  border: 2px solid $primaryColor;
  padding: 12px 25px;
  border-radius: 12px;
  color: $primaryColor;
  font-size: 23px;
  font-weight: 500;
  font-family: "Montserrat", "Courier New", Courier, monospace;
  cursor: pointer;
  background: transparent;
  transition: transform 0.3s ease;
  overflow: hidden;
  outline: none;

  > span {
    display: inline-block;
    transform: scale(1);
    transition: all 0.05s ease;
    font-weight: 400;
  }

  &:disabled {
    border: 2px solid #bbbbbb;
    color: #bbbbbb;
    cursor: default;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(145deg, $primaryColor 45%, $secondaryColor);
    transform: scale(0);
    transform-origin: top left;
    transition: transform 0.2s ease;
    z-index: -1;
  }

  &:hover {
    color: white;
    padding: 14px 30px;
    border: none;
    transform: scale(1.2);
    box-shadow: 2px 2px 11px 0px #b0b0b0;
  }

  &:disabled:hover {
    color: #bbbbbb;
    padding: 12px 25px;
    border: 2px solid #bbbbbb;
    transform: scale(1);
    box-shadow: none;
  }

  &:hover > span {
    transform: scale(0.92);
  }

  &:disabled:hover > span {
    transform: scale(1);
  }

  &:hover::before {
    transform: scale(1);
  }

  &:disabled:hover::before {
    transform: scale(0);
  }
}

button.solidColor {
  background: $primaryColor;
  color: white;

  &:hover {
    background: white;
  }
}
