<section id="contactme">
  <div>

    <div>
      <h2>Contact</h2>
    </div>

    <div>
      <div>
        <h3>Got a problem to solve?</h3>
        <p>Contact me through this form, I am interested in hearing from you, knowing your ideas and contributing to your projects with my work.</p>
        <span>Need a Frontend developer? <b>Contact me!</b></span>
      </div>

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <p class="success" *ngIf="formIsSent">
          Message has been send successfully.
        </p>
        <p class="error" *ngIf="formHasError">
          Message not sent, please try again.
        </p>

        <label for="name" [class.error]="!name.valid && name.touched" [class.tick]="name.valid">
          <input type="text" #name="ngModel" [(ngModel)]="contactData.name" name="name" id="name" placeholder="" required>
          <span class="placeholder">Your Name</span>
          <span class="error" [class.show]="!name.valid && name.touched">Your Name is required</span>
        </label>

        <label for="email" [class.error]="!email.valid && email.touched" [class.tick]="email.valid">
          <input type="email" #email="ngModel" [(ngModel)]="contactData.email" name="email" id="email" placeholder="" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}" required>
          <span class="placeholder">Your E-Mail</span>
          <span class="error" [class.show]="!email.valid && email.touched">Your E-Mail is required</span>
        </label>

        <label for="message" [class.error]="!message.valid && message.touched" [class.tick]="message.valid">
          <textarea name="message" #message="ngModel" [(ngModel)]="contactData.message" id="message" placeholder="" required></textarea>
          <span class="placeholder">Your Message</span>
          <span class="error" [class.show]="!message.valid && message.touched">Message is required</span>
        </label>

        <div>
          <label for="privacy">
            <input type="checkbox" #privacy="ngModel" [(ngModel)]="contactData.privacy" name="privacy" id="privacy" required>
            <span></span>
            
          </label>
          <p>I've read the <a href='datenschutz'>privacy policy</a> and agree to the processing of my data as outlined.</p>
          <span class="error" [class.show]="!privacy.valid && privacy.touched">Please accept the privacy policy.</span>
        </div>

        <app-primary-button [buttonText]="'Say hello ;)'" [buttonType]="'submit'" [isDisable]="!name.valid || !email.valid || !message.valid || !privacy.valid"></app-primary-button>
      </form>
    </div>

    <a href="#"></a>

  </div>
  <app-ball [width]="'204px'" [top]="'60%'" [left]="'20%'" [hiddenSize]="700"></app-ball>
  <app-ball [width]="'73px'" [bottom]="'7%'" [right]="'8%'" [hiddenSize]="500"></app-ball>
</section>