<section id="contactme">
  <div>

    <div>
      <h2 [translate]="'app.menu.contactme'"></h2>
    </div>

    <div>
      <div>
        <h3 [translate]="'app.contactText1'"></h3>
        <p [translate]="'app.contactText2'"></p>
        <span [innerHTML]="'app.contactText3' | translate"></span>
      </div>

      <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">

        <p class="success" *ngIf="formIsSent" [translate]="'app.contactForm.successfullyMessage'"></p>
        <p class="error" *ngIf="formHasError" [translate]="'app.contactForm.errorMessage'"></p>

        <label for="name" [class.error]="!name.valid && name.touched" [class.tick]="name.valid">
          <input type="text" #name="ngModel" [(ngModel)]="contactData.name" name="name" id="name" placeholder=""
            required>
          <span class="placeholder" [translate]="'app.contactForm.name'"></span>
          <span class="error" [class.show]="!name.valid && name.touched"
            [translate]="'app.contactForm.nameValidation'"></span>
        </label>

        <label for="email" [class.error]="!email.valid && email.touched" [class.tick]="email.valid">
          <input type="email" #email="ngModel" [(ngModel)]="contactData.email" name="email" id="email" placeholder=""
            pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
          <span class="placeholder" [translate]="'app.contactForm.email'"></span>
          <span class="error" [class.show]="!email.valid && email.touched"
            [translate]="'app.contactForm.emailValidation'"></span>
        </label>

        <label for="message" [class.error]="!message.valid && message.touched" [class.tick]="message.valid">
          <textarea name="message" #message="ngModel" [(ngModel)]="contactData.message" id="message" placeholder=""
            required></textarea>
          <span class="placeholder" [translate]="'app.contactForm.message'"></span>
          <span class="error" [class.show]="!message.valid && message.touched"
            [translate]="'app.contactForm.messageValidation'"></span>
        </label>

        <div>
          <label for="privacy">
            <input type="checkbox" #privacy="ngModel" [(ngModel)]="contactData.privacy" name="privacy" id="privacy"
              required>
            <span></span>

          </label>
          <p>{{ 'app.contactForm.privacyPartOne' | translate }} <a routerLink='datenschutz'>{{
              'app.contactForm.privacyLink' |
              translate }}</a> {{ 'app.contactForm.privacyPartTwo' | translate }}</p>
          <span class="error" [class.show]="!privacy.valid && privacy.touched"
            [translate]="'app.contactForm.privacyValidation'"></span>
        </div>

        <app-primary-button [buttonText]="'app.button.sayHello' | translate" [buttonType]="'submit'"
          [isDisable]="!name.valid || !email.valid || !message.valid || !privacy.valid"></app-primary-button>
      </form>
    </div>

    <a href="#"></a>

  </div>
  <app-ball [width]="'204px'" [top]="'60%'" [left]="'20%'" [hiddenSize]="700"></app-ball>
  <app-ball [width]="'73px'" [bottom]="'7%'" [right]="'8%'" [hiddenSize]="500"></app-ball>
</section>