<section>
  <div></div>

  <div>

    <div>
      <img src="/img/photo/photo.png" alt="Samaneh Papoli">
    </div>

    <div>
      <div>
        <h1>Hello! Iam Samaneh</h1>
        <h2>Frontend</h2>
        <h2>Developer</h2>
      </div>

      <div>
        <div>
          <a href="#aboutme">SCROLL</a>
        </div>
        <div></div>
        <div>
          <a href="https://github.com/samanehpapoli" target="_blank">
            <img src="img/icons/github-blue.svg" alt="github">
          </a>
          <a href="mailto:info@samanehpapoli.com">
            <img src="img/icons/email-blue.svg" alt="email">
          </a>
          <a href="#" target="_blank">
            <img src="img/icons/linkedin-blue.svg" alt="linkedin">
          </a>

        </div>

      </div>
    </div>
  </div>
</section>