<footer>
  <div>
    <div>
      <a href="#">
        <img src="img/logo/logo-white.svg" alt="logo" />
      </a>
    </div>
    <div>
      <span>&copy; Samaneh Papoli 2025</span>
      <div>
        <a href="impressum">Legal Notice</a>
        <div></div>
      </div>
    </div>
    <div>
      <a href="https://github.com/samanehpapoli" target="_blank">
        <img src="img/icons/github-white.svg" alt="github" />
      </a>
      <a href="mailto:info@samanehpapoli.com">
        <img src="img/icons/email-white.svg" alt="email" />
      </a>
      <a href="#" target="_blank">
        <img src="img/icons/linkedin-white.svg" alt="linkedin" />
      </a>
    </div>
  </div>
</footer>
