<section id="aboutme">
  <div>
    <div>
      <h2>Let's work together</h2>
      <span>I am</span>
      <div>
        <div>
          <div class="locate"></div>
          <!-- <img src="img/icons/locate.svg" alt="locate"> -->
          <span>Located in munich</span>
        </div>
        <div class="wifi">
          <div class="remote"></div>
          <!-- <img src="img/icons/remote.svg" alt="remote"> -->
          <span>Open to work remote</span>
        </div>
        <div>
          <div class="relocate"></div>
          <!-- <img src="img/icons/relocate.svg" alt="relocate"> -->
          <span>Open to relocate</span>
        </div>
      </div>
    </div>
    <div>
      <p [innerHTML]="'app.aboutme' | translate"></p>

      <a href="#contactme">
        <app-primary-button [buttonText]="'app.button.sendMessage' | translate"></app-primary-button>
      </a>

    </div>

  </div>
  <app-ball [width]="'206px'" [top]="'-110px'" [right]="'42%'" [hiddenSize]="1200"></app-ball>
  <app-ball [width]="'82px'" [top]="'55px'" [right]="'25%'"></app-ball>
</section>