<section id="aboutme">
  <div>
    <div>
      <h2>Let's work together</h2>
    </div>
    <div>
      <p>
        I am a Front-end developer based in Munich, Germany. I enjoy helping designers and companies bring their ideas into real life.  I am looking forward to continuing my developer career with a job in a junior web developer position.
        <br><br>
        If you think I’d be a good match for your projects, contact me!
      </p>

      <a href="#contactme">
        <app-primary-button [buttonText]="'Send a Message'"></app-primary-button>  
      </a>

    </div>

  </div>
  <app-ball [width]="'206px'" [top]="'-110px'" [right]="'42%'" [hiddenSize]="1200"></app-ball>
  <app-ball [width]="'82px'" [top]="'55px'" [right]="'25%'"></app-ball>
</section>