@import "./../../../styles.scss";

section {
  display: flex;
  justify-content: center;
  position: relative;

  > div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: $mainWidth;
    margin: 180px $baseMarginLeftRight 120px $baseMarginLeftRight;
    gap: 20px;

    @media (max-width: 800px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    > div:nth-child(1) {
      flex: 1;

      > h2 {
        color: $primaryColor;
        font-weight: 400;
        font-family: "Baloo", "Courier New", Courier, monospace;
        font-size: 121px;
        line-height: 121px;

        @media (max-width: 900px) {
          font-size: 90px;
          line-height: 90px;
        }

        @media (max-width: 500px) {
          font-size: 64px;
          line-height: 74px;
        }
      }
    }

    > div:nth-child(2) {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      > p {
        font-family: "Montserrat", "Courier New", Courier, monospace;
        font-weight: 400;
        font-size: 23px;
      }
    }
  }
}
